@media only screen and (min-width:991px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: table;
		width: 100%;
	}
}
@media only screen and (max-width:1100px) {
	.header-menu .menu li {
		padding: 16px 16px;
	}
}
@media only screen and (max-width:1024px) {
	form.wpcf7-form input[type="text"],
	form.wpcf7-form input[type="email"],
	form.wpcf7-form input[type="tel"],
	form.wpcf7-form input[type="search"],
	form.wpcf7-form textarea {
		padding: 0 22px;
		margin-left: 36px;
	}
}
@media only screen and (max-width:991px) {
	.header-top p {
		font-size: 12px;
		padding: 2px 0;
	}
	.header-menu .main-navigation {
		width: 70%;
		float: left;
	}
	.header-menu .main-navigation .menu-toggle {
		border: none;
		background-color: #faf8f6;
	}
	.header-menu .main-navigation .menu-toggle .fa-bars {
		font-size: 25px;
	}
	.header-menu .header-social-menu {
		width: 30%;
		float: right;
		padding-top: 10px;
	}
	.header-menu .header-social-menu .ybp-social-media li {
		margin-right: 16px;
	}
	.main-navigation.toggled ul.sub-menu {
		display: none;
	}
	.main-navigation.toggled li:hover ul.sub-menu,
	.main-navigation.toggled .focus ul.sub-menu {
		display: block;
	}
	.header-menu .nav-menu li.menu-item-has-children > a::after,
	.header-menu .nav-menu li.menu-item-has-children.current-menu-item > a:after,
	.header-menu .nav-menu li.menu-item-has-children > a:hover:after {
		display: none;
	}
	.header-menu .nav-menu li.menu-item-has-children .ybp-angle-down {
		background: rgba(0, 0, 0, 0) url(../images/down_arrow.png) no-repeat center center;
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		bottom: 0;
		border-left: 1px solid #5978a1;
	}
	.header-menu .nav-menu li.menu-item-has-children.current-menu-item .ybp-angle-down {
		background: rgba(0, 0, 0, 0) url(../images/down_arrow_hover.png) no-repeat center center;
	}

	.header-menu .main-navigation ul.nav-menu {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 9;
		background-color: #fff;
		overflow: auto;
		max-height: 0;
		transition: all 0.5s ease 0s;
		opacity: 0;
		visibility: hidden;
		right: 0;
	}
	.header-menu .main-navigation.toggled ul.nav-menu {
		opacity: 1;
		visibility: visible;
		max-height: 530px;
	}
	.header-menu .menu li {
		display: block;
	}
	.header-menu .menu li {
		padding: 0;
	}
	.header-menu .menu li.menu-logo {
		padding-top: 0;
	}
	.header-menu .main-navigation li.menu-logo a {
		background: none;
		width: auto;
		height: auto;
		font-size: 18px;
	}
	.header-menu .main-navigation a {
		display: block;
		padding: 10px 20px;
		border-bottom: 1px solid #5978a1;
	}
	.header-menu .nav-menu li.menu-item-has-children > a::after {
		top: 19px;
		right: 10px;
	}
	.main-navigation ul ul {
		border: 0;
		top: auto;
		left: auto;
	}
	.header-menu .sub-menu {
		min-width: 100%;
	}
	.header-menu .nav-menu li.menu-item-has-children .sub-menu li {
		padding: 0;
	}
	.header-menu .main-navigation ul ul a {
		padding-left: 40px;
	}
	.header-menu .menu li.menu-logo {
		padding-top: 20px;
	}
	.header-slider-icon-sec  {
		bottom: 46px;
	}
	.owl-carousel-slider .owl-dots {
		margin: 70px 0px 30px;
	}
	.footer-icon-section {
		margin-top: -45px;
	}
	footer .footer-top {
		margin: 0;
	}
	.footer-top .widget_ybp-contact-widget ul.ybp-contact-details {
		word-break: break-all;
	}
	footer .footer-top .col-3 {
		min-height: 216px;
	}
	.footer-top .col-3 .widget_ybp-contact-widget {
		padding-left: 0px;
	}
	footer .footer-top .col-3:last-child .widget_text,
	.footer-top .widget_ybp-social-media-widget	{
		padding: 25px 15px;
	}
	form.wpcf7-form input[type="text"],
	form.wpcf7-form input[type="email"],
	form.wpcf7-form input[type="tel"],
	form.wpcf7-form input[type="search"],
	form.wpcf7-form textarea {
		padding: 0 14px;
		margin-left: 27px;
	}
	form.wpcf7-form textarea {
		height: 85px;
	}
	span.wpcf7-form-control-wrap:before{
		left: 6px;
	}
	.wpcf7-form-control.g-recaptcha.wpcf7-recaptcha.ybp-captcha {
		transform: scale(0.7);
		transform-origin: 100% 0 0;
	}
	.ybp-rentals-mixup .title-holder h4 {
		min-height: 45px;
	}
	.post-button a.bpr-all-btn {
		font-size: 16px;
		width: 100%;
	}
	.post-sidebar .search-submit {
		min-width: 0px;
	}
	.contact-social-widget ul.ybp-social-media li {
		margin: 0 20px 0 20px;
	}
	.ybp-contact-right .ybp-button.center a {
		padding: 10px;
	}
}
@media only screen and (max-width:767px){
	.header-logo img.custom-logo {
		width: 60px;
	}
	.header-menu .main-navigation {
		width: 60%;
	}
	.header-menu .header-social-menu {
		width: 40%;
	}
	.header-icon-section {
		height: 70px;
	}
	.header-slider-wrap .header-icon-section .header-icon img,
	.footer-icon-section .footer-icon img  {		
		max-width: 40%;
	}
	.header-slider-icon-sec {
		bottom: 28px;
	}	
	.owl-carousel-slider .owl-dots {
		margin: 58px 0px 30px;
	}
	.ybp-back-to-home {
		padding-bottom: 0px;
	}
	.footer-top .widget_ybp-social-media-widget {
		padding: 20px 25px;
	}
	.ourpeople-img {
		width: 100%;
	}
	.ourpeople-desc {
		float: left;
		width: 100%;
		padding-top: 15px;
		padding-left: 15px;
	}
	.testimonial-left {
		float: none;
		width: 100%;
		text-align: center;
		border-right: 0;
	}
	.testimonial-right {
		text-align: center;
	}
	body input[type="submit"] {
		width: 100%;
	}
	.ybp-rentals-mixup .title-holder h4 {
		min-height: 45px;
	}
	body .ybp-service-tab {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	body .ybp-service-tab .vc_tta-panel-body {
	    padding: 30px !important;
	}
	body .ybp-service-tab .vc_tta-panel-heading {
		border-width: 1px !important;
		border-left: 0px !important;
		border-right: 0px !important;
		border-bottom: 0px !important;
	}
	body .ybp-service-tab .vc_active .vc_tta-panel-heading {
		border-bottom: 1px solid #5472d2 !important;
	}
	body .ybp-service-tab .vc_tta-panel-heading .vc_tta-title-text br {
		display: none;
	}
	.ourpeople {
		padding-top: 0px;
	}
	.ourpeople-item {
		padding-bottom: 20px;
	}
	body .ybp-page-bottom {
		padding-bottom: 20px !important;
	}
	.ybp-rentals-mixup .mix,
	#post-masonry .post-grid-item {
		width: 100%;
	}
	.ybp-rentals-mixup {
		margin: 0 auto;
	}
	.ybp-controls ul li {
		padding: 16px;
	}
	body .ybp-testimonials {
		padding-bottom: 30px !important;
	}
	.testimonial-items div.testimonial-full {
		padding-bottom: 0px;
	}
	.testimonial-right {
		float: none;
		width: 100%;
	}
	.testimonial-left .testimonial-desc,
	.testimonial-right .testimonial-desc {
		padding: 0px;
		text-align: justify;
	}
	.testimonial-left .testimonial-desc .testimonial-name,
	.testimonial-right .testimonial-desc .testimonial-name {
		text-align: center;
	}
	.testimonial-desc {
		padding-bottom: 15px;
	}
	.ybp-controls {
		padding-top: 0px;
	}
	.post-holder-wrap,
	.ybp-blog-content p {
		width: 100%;
	}
	.post-sidebar {
		width: 100%;
		padding-top: 30px;
	}
	.ybp-recent-event .post-meta span.month {
		word-break: break-all;
	}
	body .ybp-mob-right .vc_column-inner {
		padding-right: 15px !important;
	}
	body .ybp-mob-bottom {
		padding-top: 0px !important;
		padding-bottom: 30px !important;
	}
	.search-form input[type="search"] {
		width: 100%;
		margin-bottom: 15px;
	}
	body .ybp-mobile-padding {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.ybp_rental_mobgap .vc_column-inner {
		margin-bottom: 15px;
	}
	.owl-carousel-slider .owl-dots .owl-dot:before,
	.owl-carousel-slider .owl-dots .owl-dot:nth-child(-n+9):after { 
		font-size: 16px;
	}
	.owl-carousel-slider .owl-dots .owl-dot:nth-child(-n+9):after{ 
		margin: 0 10px 0 10px;
	}
	.owl-carousel-slider .owl-dots .owl-dot:last-child:after {
		margin: 0px;
	}
}
@media only screen and (max-width:480px){
	footer .footer-top .col-4,
	footer .footer-top .col-3,
	footer .footer-top .col-2,
	footer .footer-top .col-1 {
		width: 100%;
	}
	footer .footer-top .col-3 {
		min-height: 0px;
	}

	.ybp-cp-list .ybp-faq-wrapper:nth-of-type(odd) {
		margin-right: 0px;
	}
	.ybp-cp-list .ybp-faq-wrapper {
		float: none;
		width: 100%;
	}
	.ybp-controls ul li {
		padding: 6px;
	}
	.ybp-recent-event .post-grid-item {
		width: 100%;
		margin-right: 0px;
	}
}