/*!
Theme Name: YourButlersPantry
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: yourbutlerspantry
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

YourButlersPantry is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
# Element CSS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@font-face {
    font-family: 'Avenir-Book';
    src: url('webfonts/Avenir-Book.eot');
    src: url('webfonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),
        url('webfonts/Avenir-Book.woff2') format('woff2'),
        url('webfonts/Avenir-Book.woff') format('woff'),
        url('webfonts/Avenir-Book.ttf') format('truetype'),
        url('webfonts/Avenir-Book.svg#Avenir-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mrs Eaves Italic';
    src: url('webfonts/MrsEavesOT-Italic.eot');
    src: url('webfonts/MrsEavesOT-Italic.eot?#iefix') format('embedded-opentype'),
        url('webfonts/MrsEavesOT-Italic.woff2') format('woff2'),
        url('webfonts/MrsEavesOT-Italic.woff') format('woff'),
        url('webfonts/MrsEavesOT-Italic.ttf') format('truetype'),
        url('webfonts/MrsEavesOT-Italic.svg#MrsEavesOT-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Mrs Eaves OT';
    src: url('webfonts/MrsEavesOT-Roman.eot');
    src: url('webfonts/MrsEavesOT-Roman.eot?#iefix') format('embedded-opentype'),
        url('webfonts/MrsEavesOT-Roman.woff2') format('woff2'),
        url('webfonts/MrsEavesOT-Roman.woff') format('woff'),
        url('webfonts/MrsEavesOT-Roman.ttf') format('truetype'),
        url('webfonts/MrsEavesOT-Roman.svg#MrsEavesOT-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */	
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

/*button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}*/

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: 'Avenir-Book';
	font-size: calc(16px + (25 - 16) * ((100vw - 320px) / (1920 - 320)));
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	border-top: 1px solid #5978a1;
	margin-bottom: 18px;
}

ul, ol {
	margin: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #5978a1;
	border-radius: 3px;
	padding: 8px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

.search-form input[type="search"] {
	padding: 13px;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
/*a {
	color: royalblue;
}

a:hover, a:focus, a:active {
	color: midnightblue;	
}*/

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 85%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	border: 1px solid #a9bacd;
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	/* table-layout: fixed; */
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0px;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Element CSS
--------------------------------------------------------------*/
input::-moz-focus-inner {
	border:0;
	outline:none;
}
button::-moz-focus-inner {
	border:0;
	outline:none;
}
select::-moz-focus-inner {
	border:0;
	outline:none;
}
option::-moz-focus-inner {
	border:0;
	outline:none;
}
input[type="file"]::-webkit-file-upload-button {
	cursor:pointer;
}
input[type="file"]::-moz-file-upload-button {
	cursor:pointer;
}
input[type="file"]::-ms-file-upload-button {
	cursor:pointer;
}
input[type="file"]::-o-file-upload-button {
	cursor:pointer;
}
input[type="file"] {
	cursor:pointer;
}
*::-moz-selection {
	color: #fff;
	background:#a9bacd;
}
*::-webkit-selection {
	color: #fff;
	background:#a9bacd;
}
*:-moz-placeholder {
	color: #333333;
	opacity:1;
}
*::-moz-placeholder {
	color: #333333;
	opacity:1;
}
*:-ms-input-placeholder {
	color: #333333;
	opacity:1;
}
body a {
	outline: none;
	color:#333;
	display:inline-block;
	text-decoration: none;
	vertical-align:top;
}
body a:hover{
	color:#ddaa2d !important;
}
body {
  background-color: #ffffff;
  overflow-x: hidden;
}
*{
	outline:none!important;
}
body img {
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height:auto;
	display:block;
}
body p , body li {
	color: #3c3e3f;
	font-family: 'Avenir-Book';
	/*font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));*/
	font-size:16px;
	line-height: 1.3;
	margin: 0 0 18px;
	padding: 0;
}
body li {
	font-size:16px;
}
.container:after,
.header-container:after,
.clr:after,
ul:after,
.clearfix:after,
li:after {
	content:"";
	display:block;
	clear:both;
}
body .container {
	width:100%;
	max-width:1130px;
	padding-left:15px;
	padding-right:15px;
	margin:0 auto;
	position:relative;
	float:none;
}
body .container .container {
	width:100%;
	max-width:100%;
}

/*--------------------------------------------------------------
# Header Css
--------------------------------------------------------------*/
.site-header {
	background-color: #faf8f6;
}
.header-top {
    background-color: #a9bacd;
}
.header-top p {
	font-family: 'Mrs Eaves Italic';
	font-size: 18px;
	padding: 4px 0;
	color: #faf8f6;
	text-align: center;
	letter-spacing: 2px;
	font-style: italic;
}
.header-logo {
	text-align: center;
	padding: 5px 0 15px;
}
.header-container {
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    position: relative;
    float: none;
}
.header-menu:after {
    clear: both;
    content: "";
    display: block;
}
.header-social-menu {
    float: right;
    width: 15%;
    padding-top: 16px;
    text-align: right;
}
.header-menu .header-container {
    border-top: 1px solid #5978a1;
	padding-top: 15px;
	padding-bottom: 15px;
}
.header-menu .menu li {
	display: table-cell;
    float: none;
    padding: 16px 10px;
    vertical-align: top;
    margin-bottom: 0px;
}
.header-menu .menu li.menu-logo {
    padding-top: 0px;
    padding-bottom: 0px;
}
.header-menu .main-navigation a {
	color: #3c3e3f;
    font-family: Mrs Eaves OT;
    font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    line-height: 1.2;
    text-transform: lowercase;
    display: inline-block;
    vertical-align: top;
}
.header-menu .main-navigation li.menu-logo a {
	background: rgba(0, 0, 0, 0) url(images/menu_logo.png) no-repeat 0 0;
	width: 50px;
    height: 51px;
	font-size: 0;
}
.header-menu li.current-menu-item > a,
.header-menu li.current-menu-parent > a,
.header-menu ul.sub-menu  li.current-menu-item > a ,
.header-menu li a:hover {
	color:#ddaa2d;
}
.header-menu .sub-menu {
	background-color: #fff;
	min-width: 213px;
}
.header-menu .main-navigation li.menu-item-has-children > a {
	position: relative;
	padding-right: 20px;
}
.header-menu .nav-menu li.menu-item-has-children > a::after {
	content: "";
	background: rgba(0, 0, 0, 0) url(images/down_arrow.png) no-repeat 0 0;
	position: absolute;
	top: 12px;
	right: 0;
	width: 8px;
	height: 5px;
}
.header-menu .nav-menu li.menu-item-has-children > a:hover:after,
.header-menu .nav-menu li.menu-item-has-children.current-menu-item > a:after {
	content: "";
    background: rgba(0, 0, 0, 0) url(images/down_arrow_hover.png) no-repeat 0 0;
}
.header-menu .nav-menu li.menu-item-has-children .sub-menu li {
	padding: 10px 15px;
	display: block;
}
.header-social-menu .widget {
    margin-bottom: 0px;
}
.is-sticky .header-menu {
	background-color: #FAF8F6;
}
.is-sticky .header-menu .header-container {
    border: none;
}
.is-sticky .header-menu .menu li.menu-logo {
	padding-left: 0;
}
.is-sticky .ybp-social-media li:last-child {
	margin-right: 0;
}
.ybp-social-media {
    padding-left: 0;
}
.ybp-social-media li {
    display: inline-block;
    margin-right: 30px;
	margin-bottom: 0px;
    vertical-align: top;
}
.ybp-social-media li a {
	font-size: 20px;
	color: #3e577e;
	line-height: 1;
}
.ybp-social-media li a:hover,
.footer-top .ybp-contact-details li a:hover {
	color:#ddaa2d;
}
.ybp-social-media li a.social-instagram i {
    display: none;
}
.ybp-social-media li a.social-instagram {
	background: rgba(0, 0, 0, 0) url(images/social_instagram.png) no-repeat 0 0;
	height: 20px;
    width: 20px;
}
.ybp-social-media li a.social-instagram:hover {
	background: rgba(0, 0, 0, 0) url(images/social_instagram_hover.png) no-repeat 0 0;
	height: 20px;
    width: 20px;
}

/*--------------------------------------------------------------
# Footer Css
--------------------------------------------------------------*/
footer.site-footer {
    background-color: #3f577e;
	/*margin-top: 80px;*/
	position: relative;
}
body .container-footer {
    max-width: 1000px;
}
.footer-icon-section {
    margin-top: -52px;
    position: relative;
	text-align: center;
	z-index: 1;
}
.footer-icon {
	display: inline-block;
	vertical-align: top;
	width: 106px;
	height: 106px;
	background-color: #5878a1;
	border-radius: 50%;
	position: relative;
	border: 15px solid #3F577E;
}
.footer-icon::before {
	content: "";
	position: absolute;
	top: -4px;
	left: -4px;
	border: 1px solid #5a78aa;
	width: 84px;
	height: 84px;
	border-radius: 50%;
}
.footer-icon img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

footer .footer-top {
	margin: 0 -15px;
    padding: 30px 0;
}
footer .footer-top::after {
    clear: both;
    content: "";
    display: block;
}
footer .footer-top .col-4 {
    float: left;
    padding: 0 15px;
    width: 25%;
}
footer .footer-top .col-3 {
    float: left;
    width: 33.33%;
	padding: 25px 16px 15px 25px;
    border: 1px solid #5978a1;
    margin-right: -1px;
}
footer .footer-top .col-2 {
    float: left;
    padding: 0 15px;
    width: 50%;
}
footer .footer-top .col-1 {
    float: left;
    padding: 0 15px;
    width: 100%;
}
footer .footer-top .col-3:last-child {
    padding: 0px;
}
footer .footer-top .col-3:last-child .widget_text {
    padding: 25px 25px 25px 45px;
}
.footer-top .col-3 .widget_ybp-contact-widget {
	padding-left: 30px;
}
footer .footer-top .widget-title {
    font-family: "Avenir-Book";
	font-size: 18px;
	color: #fff;
}
footer .footer-top p {
	font-family: "Mrs Eaves Italic";
	font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
	color: #faf8f6;
	font-style: italic;
}
footer .footer-top p > a {
	color: #faf8f6;
}
footer .footer-top ul {
	padding-left: 0px;
}
footer .footer-top ul li {
	font-family: "Avenir-Book";
	font-size: 18px;
	color: #faf8f6;
	list-style: none;
	margin-bottom: 5px;
}
footer .footer-top ul li.contact-phone {
	font-family: "Mrs Eaves Italic";
	font-size: calc(16px + (25 - 16) * ((100vw - 320px) / (1920 - 320)));
	font-style: italic;
}
footer .footer-top li a {
	color: #faf8f6;
}
footer .footer-copyright #text-2 > div >p {
	margin-bottom: 0px;
}
footer .footer-top .ybp-social-media li a,
footer .footer-copyright a  {
	color: #a9bacd;
}
footer .footer-top .ybp-social-media li a:hover,
footer .footer-copyright a:hover {
	color:#ddaa2d;
}
footer .ybp-social-media li a.social-instagram {
	background: rgba(0, 0, 0, 0) url(images/social_instagram_footer.png) no-repeat 0 0;
	height: 20px;
    width: 20px;
}
footer .footer-top .widget-title,
footer .footer-top p {
    margin: 0;
}
.footer-copyright p {
    font-family: "Avenir-Book";
	font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
	text-align: center;
	margin-bottom: 0;
	color : #a9bacd;
	letter-spacing: 2px;
}
.footer-copyright section:first-child p {
    font-family: "Mrs Eaves Italic";
	font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
	font-style: italic;
}
.footer-top .widget_ybp-social-media-widget {
    border-top: 1px solid #5978a1;    
	padding: 0 25px 0 45px;
    width: 100%;
    display: table;
    height: 50%;
}
.footer-top .ybp-social-media {
    padding-left: 0;
    display: table-cell;
    vertical-align: middle;
}
footer.site-footer:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    border-top: 1px solid #5978a1;
    display: block !important;
}
.footer-copyright {
	padding-bottom: 20px;
}

/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/
.ybp-slider-caption {
	font-family: "Mrs Eaves OT";
	font-size: calc(18px + (60 - 18) * ((100vw - 320px) / (1920 - 320)));
	color: #231f20;
	position: absolute;
    top:50%;
    left: 0;
	background: rgba(255, 255, 255, 0.5);
	width: 100%;
    text-align: center;
	transform:translateY(-50%);
}
h1.vc_custom_heading,
body h1 {
  color: #3c3e3f;
  font-family: "Mrs Eaves OT";
  font-size: calc(22px + (36 - 22) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 10px;
}
h1.ybp-h1-title-italic {
	font-family: "Mrs Eaves Italic";
	font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1920 - 320)));
	font-style: italic;
}
h2.vc_custom_heading,
body h2 {
  color: #3c3e3f;
  font-family: "Mrs Eaves OT";
  font-size: calc(22px + (34 - 22) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 10px;
}
h2.ybp-h2-title-italic {
	font-family: "Mrs Eaves Italic";
	font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1920 - 320)));
	letter-spacing: 2px;
	font-style: italic;
}
h3.vc_custom_heading,
body h3 {
  color: #3c3e3f;
  font-family: "Mrs Eaves OT";
  font-size: calc(21px + (32 - 21) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 10px;
}
h5.vc_custom_heading,
body h5 {
  color: #3c3e3f;
  font-family: "Mrs Eaves OT";
  font-size: 17px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 10px;
}
h6.vc_custom_heading, body h6 {
	font-family: "Avenir-Book";
	color: #676867;
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 10px;
}
.home-weget-border > div > div {
	border: 1px solid #5978a1;
	padding: 50px 60px 30px 60px;
}
.home-weget-border > div > div p {
	font-size: 18px;
}
.vc_row.home-below-slider-sec::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 0;
	right: 0;
	border-top: 1px solid #fff;
	display: block !important;
}
.vc_row.home-below-slider-sec::after {
	content: "";
	position: absolute;
	bottom: 6px;
	left: 0;
	right: 0;
	border-top: 1px solid #fff;
	display: block !important;
}
/*--------------------------------------------------------------
# Home Page Slider
--------------------------------------------------------------*/
body {
	counter-reset: my-sec-counter;
}
.owl-carousel-slider .owl-dots .owl-dot::before {
	counter-increment: my-sec-counter;
	content: counter(my-sec-counter);
	font-family: "Mrs Eaves Italic";
	font-size: 23px;
	color: #505357;
	font-style: italic;
}
.owl-carousel-slider .owl-dots .active:before {
	color: #ddaa2d;
}
.owl-carousel-slider .owl-dots .owl-dot:hover:before {
	color: #ddaa2d;
}
.owl-carousel-slider .owl-dots .owl-dot:nth-child(-n+9):before {
	content: '0'counter(my-sec-counter);
}
.owl-carousel-slider .owl-dots .owl-dot:nth-child(-n+9):after {
	content: ' // ';
	margin: 0 15px 0 15px;
}
.owl-carousel-slider .owl-dots .owl-dot:last-child:after {
	content: '';
}
.owl-carousel-slider .owl-dots {
	text-align: center;
	margin: 60px 0px 50px;
}
.header-slider-wrap {
	position: relative;
}
.header-slider-icon-sec {
	position: absolute;
	bottom: 38px;
	left: 0;
	right: 0;
	z-index: 1;
}
.header-slider-icon-sec::before {
	content: "";
	position: absolute;
	bottom: 46%;
	left: 0;
	right: 0;
	border-top: 1px solid #5978a1;
	display: block !important;
	margin: auto 0;
	padding-top: 0px;
	z-index: -1;
}
.header-slider-icon-sec .header-icon-section {
	background-color: transparent;
	height: auto;
	padding-top: 0;
}
.header-slider-icon-sec .header-icon-section::after {
	display: none;
}
/*--------------------------------------------------------------
# About Page
--------------------------------------------------------------*/
.ybp-back-home {
	font-family: 'Mrs Eaves Italic';
	font-size: calc(12px + (23 - 12) * ((100vw - 320px) / (1920 - 320)));
	line-height: 1.2;
	letter-spacing: 2px;
	font-style: italic;
}
body .vc_btn3.vc_btn3-size-lg,
body .vc_btn3-container.vc_btn3-center .vc_btn3-block.vc_btn3-size-lg {
	font-size: calc(16px + (25 - 16) * ((100vw - 320px) / (1920 - 320)));
}
/*--------------------------------------------------------------
# YBP MOBL Shop
--------------------------------------------------------------*/
body .wpb_single_image .vc_figure-caption {
	position: absolute;
    top: 50%;
    left: 15px;
    right: 15px;
    font-size: calc(16px + (25 - 16) * ((100vw - 320px) / (1920 - 320)));
    color: #fff;
	padding: 0 10px;
}
.ybp-recent-event .post-grid-item {
	width: 33%;
    padding: 0 8px;
    float: left;
	margin-bottom: 40px;
}
.ybp-recent-event .post-grid-item:last-child {
	margin-right: 0px;
}
.ybp-recent-event .post-text {
	border: 1px solid #5978a1;
}
.ybp-recent-event .post-text .entry-title {
	font-size: calc(20px + (34 - 20) * ((100vw - 320px) / (1920 - 320)));
	background-color: #faf8f6;
    color: #000;
    padding: 10px 25px;
}
.ybp-recent-event .post-text p {
	padding: 10px 25px;
}
.ybp-event-button {
    clear: both;
	text-align: center;
}
/*--------------------------------------------------------------
# Blog Css
--------------------------------------------------------------*/
.ybp-blog-content {
    margin-top: 10px;
    margin-bottom: 36px;
}
.ybp-blog-content h2,
.ybp-blog-content .ybp-description {
    text-align: center;
}
.ybp-blog-content hr{
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #5978a1;
    padding: 0;
	width: 40%
}
.ybp-blog-content p {
    width: 600px;
    margin: 0 auto;
    padding: 20px 0;
}

#post-masonry .post-grid-item {
    width: 33%;
    padding: 0 1%;
	margin-bottom: 20px;
}
.post-holder-wrap {
    width: 80%;
    float: left;
}
#post-masonry .post-text {
    background-color: #fff;
	border: 1px solid #5978a1;
    width: auto;
}
#post-masonry  .post-text .entry-title {
	background-color: #faf8f6;
	color: #000;
	padding: 10px 25px;
}
#post-masonry .post-text p {
	padding: 10px 25px;
}
.post-button {
    margin-top: 50px;
	padding: 10px 25px;
}
.post-button a.bpr-all-btn {
	font-family: "Avenir-Book";
	font-size: 18px;
	padding: 15px;
}
.post-meta .post-date-time {
	font-size: 30px;
    padding: 10px 25px;
    line-height: 1;
}
.post-meta .post-date-time .date {
	font-family: "Mrs Eaves Italic";
	font-size: 32px;
	font-style: italic;
}
.post-meta .post-date-time .month {
	font-family: "Mrs Eaves OT";
	font-size: 28px;
	text-transform: lowercase;
}
.post-date-time .date,
.post-date-time .month {
    display: block;
    position: relative;
	text-align: left;
}
.post-loadmore {
    display: block;
	margin: 0 auto;
    text-align: center;
	/*border: 1px solid #ddaa2d;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 10px 0;
    width: 20%; 
    margin-top: 20px;
    margin-bottom: 20px;*/
}
.post-loadmore:hover {
    background-color: #ddaa2d;
	border: 1px solid #ddaa2d;
    color: #fff;
}
.post-sidebar {
    width: 20%;
    float: left;
}
.post-sidebar .search-field{
	width: 100%;
    margin-bottom: 10px;
}
.post-sidebar .search-submit {
	width: 100%;
	margin-bottom: 10px;
}
.post-sidebar ul {
    list-style: none;
    padding-left: 0px;
}

.post-content h1.entry-title {
	padding: 10px 0;
}
.comment-list footer img {
	margin: 0 0 10px;
}
.comment-form #author,
.comment-form #email,
.comment-form #url {
	width: 100%;
}
/*--------------------------------------------------------------
# Contact page
--------------------------------------------------------------*/
.wpb_widgetised_column.wpb_content_element.contact-social-widget {
	border: 1px solid #5978a1;
    padding: 20px;
	margin-bottom: 20px;
}

body .bpr-all-btn, body input[type="button"] {
	background-color: transparent;
	border: 2px solid #ddaa2d;
	color: #676867;
	cursor: pointer;
	font-family: "Mrs Eaves Italic";
	font-size: calc(16px + (32 - 16) * ((100vw - 320px) / (1920 - 320)));
	font-weight: 500;
	line-height: 1.2;
	padding: 8px 18px;
	text-align: center;	
}
.ybp-button.left{
	text-align: left;
}
.ybp-button.center {
	text-align: center;
}
.ybp-button.right {
    text-align: right;
}
.ybp-btn-full a {
	width: 100%;
}
body .ybp-button .bpr-all-btn{
	font-style: italic;
}
body .bpr-all-btn:hover,
body input[type="button"]:hover{
	background-color: #ddaa2d;
    color: #fff !important;
}
body input[type="submit"] {
	background-color: transparent;
	text-transform: uppercase;
	border-radius: 0;
	border: 2px solid #ddaa2d;
    color: #676867;
    cursor: pointer;
    font-family: "Avenir-Book";
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    min-width: 200px;
    padding: 13px 10px;
    text-align: center;
}
body input[type="submit"]:hover {
	border: 2px solid #ddaa2d;
	background-color: #ddaa2d;
    color: #fff;
}
.ybp-about-text {
	font-family: "Mrs Eaves Italic";
	color: #000;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}
form.wpcf7-form {
	counter-reset: field-counter;
}
.wpcf7-form-control-wrap.yourname,
.wpcf7-form-control-wrap.email,
.wpcf7-form-control-wrap.phone,
.wpcf7-form-control-wrap.message,
.wpcf7-form-control-wrap.aboutus {
	display: block;
	border-color: #5978a1 !important;
	border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    position: relative;
}
form.wpcf7-form input[type="text"],
form.wpcf7-form input[type="email"],
form.wpcf7-form input[type="tel"],
form.wpcf7-form textarea {
    -moz-appearance: none;
	border: none;
	border-radius: 0;
	color: #333;
	font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
	height: 40px;
	padding: 0 25px;
	width: 88%;
	border-left: 1px solid #5978a1;
    margin-left: 40px;
}
form.wpcf7-form input[type="text"]::-webkit-input-placeholder,
form.wpcf7-form input[type="email"]::-webkit-input-placeholder,
form.wpcf7-form input[type="tel"]::-webkit-input-placeholder,
form.wpcf7-form textarea::-webkit-input-placeholder,
form.wpcf7-form input[type="text"]::-moz-placeholder,
form.wpcf7-form input[type="email"]::-moz-placeholder,
form.wpcf7-form input[type="tel"]::-moz-placeholder,
form.wpcf7-form textarea::-moz-placeholder,
form.wpcf7-form input[type="text"]:-ms-input-placeholder,
form.wpcf7-form input[type="email"]:-ms-input-placeholder,
form.wpcf7-form input[type="tel"]:-ms-input-placeholder,
form.wpcf7-form textarea:-ms-input-placeholder {
	font-size: 14px;
	color: #D3D3D3
}
form.wpcf7-form textarea {
	height: 225px;
	padding-top: 10px;
	resize:none;
	display: block;
}
span.wpcf7-form-control-wrap:before {
	font-family: "Mrs Eaves Italic";
	counter-increment: field-counter;
    content: '0'counter(field-counter);
    position: absolute;
    top: 8px;
    left: 10px;
	font-style: italic;
}
.wpcf7-form-control-wrap:last-child{
	border-bottom: 1px solid;
}
.text-right {
	text-align: right;
}
form.wpcf7-form div.wpcf7-form-control-wrap {
    float: right;
    padding-bottom: 18px;
}
.contact-btn {
	position: relative;
	clear: both;
}
.contact-social-widget {
	text-align: center;
}
.contact-social-widget ul.ybp-social-media li {
    margin: 0 30px 0 30px;
}
.ybp-pin-bord {
	text-align: center;
    background-color: #5978a1;
    padding: 30px 20px;
}
.ybp-pin-bord a {
	font-family: 'Avenir-Book';
	font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
	color: #fff;
	line-height: 1.2;
}
div.wpcf7 .contact-btn .ajax-loader {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	right: 8px;
	top: 21px;
}

span.wpcf7-not-valid-tip {
	display: none;
}
.wpcf7-form-control.wpcf7-not-valid {
	color: #f00;
}
.wpcf7-form-control.wpcf7-validates-as-required.wpcf7-not-valid::-moz-placeholder {
	color: #f00;
}
.wpcf7-form-control.wpcf7-validates-as-required.wpcf7-not-valid::-webkit-input-placeholder {
	color: #f00;
}
.wpcf7-form-control.wpcf7-validates-as-required.wpcf7-not-valid:-moz-placeholder {
	color: #f00;
}
.ybp-contact-right h6.vc_custom_heading {
	margin-top: 15px;
}
.ybp-contact-right .wpb_text_column {
	margin-bottom: 20px;
}
.ybp-contact-right h5.vc_custom_heading {
	margin-bottom: 30px;
}


/*----------------------------
# Our people Css
----------------------------*/
.ourpeople-item {
    width: 100%;
    display: inline-block;
	padding-bottom: 80px;
}
.ourpeople-img {
	width: 40%;
	float: left;
	padding-left: 15px;
    padding-right: 10px;
	margin-top: 8px;
}
.ourpeople-desc h4 {
    margin-top: 0;
}
.ourpeople-desc {
	width: 60%;
    float: right;
	padding-left: 50px;
    padding-right: 15px;
}
.ourpeople-email {
    padding: 5px 0 10px;
	border-top: 1px solid #5978a1;
}
.ourpeople-email a {
	font-family: "Mrs Eaves Italic";
	font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
	color: #3c3e3f;
	letter-spacing: 2px;
	font-style: italic;
}

/*----------------------------
# Testimonial Css
----------------------------*/
.testimonial-items::after {
	content: "";
	display: block;
	clear: both;
}
.testimonial-items div.testimonial-full {
	max-width: 690px;
	margin: 0 auto;
	text-align: justify;
	padding-bottom: 40px;
}
.testimonial-items .testimonial-full div.testimonial-name {
	text-align: center;
}
.testimonial-full .testimonial-desc p,
.testimonial-full .testimonial-name p {
	font-family: "Mrs Eaves Italic";
	font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1920 - 320)));
	line-height: 1;
	font-style: italic;
}
.testimonial-left {
    float: left;
    width: 50%;
    border-right: 1px solid #5978a1;
	text-align: justify;
}
.testimonial-right {
	text-align: justify;
	float: left;
	width: 50%;
}
.testimonial-left .testimonial-desc,
.testimonial-right .testimonial-desc {
	padding: 50px 50px 30px;
}
.testimonial-full .testimonial-desc p {
	letter-spacing: 2px;
}
.testimonial-items {
    padding-top: 30px;
}
/*----------------------------
# Services Tab Css
----------------------------*/
body.wpb-js-composer .vc_tta.vc_tta-style-outline .vc_tta-tabs-list {
    padding-left: 0;
}
body.wpb-js-composer .vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tabs-list {
    display: table;
    width: 100%;
}
body.wpb-js-composer .vc_tta.vc_tta-style-outline .vc_tta-tab {
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #5978a1;
	border-left: 0;
    text-align: center;
}
body.wpb-js-composer .vc_tta.vc_tta-style-outline .vc_tta-tab:first-child {
    border-left: 1px solid #5978a1;
}
body.wpb-js-composer .vc_tta.vc_tta-style-outline .vc_tta-tab.vc_active {
    background-color: #a9bacd;
}
body .vc_tta-tabs-container .vc_tta-tabs-list li.vc_tta-tab.vc_active a {
    background-color: transparent;
    color: #3b3e3f;
}
body.wpb-js-composer .vc_tta-tabs-container .vc_tta-tabs-list li.vc_tta-tab  a {
	font-family: "Mrs Eaves OT";
	color: #3b3e3f;
	font-size: calc(16px + (28 - 16) * ((100vw - 320px) / (1920 - 320)));
	padding: 15px 10px;
	margin-left: 1px;
}
body.wpb-js-composer .vc_tta-tabs-container .vc_tta-tabs-list li.vc_tta-tab  a:hover {
	color: #3b3e3f !important;
}
body.wpb-js-composer .vc_tta-color-blue.vc_tta-style-outline .vc_tta-tab.vc_active > a,
body.wpb-js-composer .vc_tta-color-blue.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-title > a,
body.wpb-js-composer .vc_tta-color-blue.vc_tta-style-outline .vc_tta-panel.vc_active .vc_tta-panel-title > a {
	color: #3b3e3f;
}
body.wpb-js-composer .vc_tta-color-blue.vc_tta-style-outline .vc_tta-tab > a:focus,
body.wpb-js-composer .vc_tta-color-blue.vc_tta-style-outline .vc_tta-tab > a:hover,
body.wpb-js-composer .vc_tta.vc_tta-style-outline .vc_tta-tab:hover {
	background-color: #a9bacd;
    color: #3b3e3f;
}
body.wpb-js-composer .vc_tta.vc_tta-style-outline .vc_tta-tab > a,
body.wpb-js-composer .vc_tta.vc_tta-style-outline .vc_tta-panel-body {
    border: 0;
	padding: 40px;
}
body.wpb-js-composer .vc_tta.vc_tta-style-outline.vc_tta-tabs .vc_tta-panels{
	border: 1px solid #5978a1;
}
body .vc_tta-panel-body h2.ybp-h2-title-italic {
    margin-bottom: 20px;
}

/*----------------------------
# Q & A  Css
----------------------------*/
.ybp-faq-wrapper {
	margin: 0 0 50px;
	border: 1px solid #5978a1;
}
.ybp-faq-wrapper h2 {
	font-family: "Mrs Eaves Italic";
	font-size: calc(20px + (33 - 20) * ((100vw - 320px) / (1920 - 320)));
	color: #fff;
    margin-bottom: 0;
	text-align: center;
	padding: 10px 0;
	border-bottom: 1px solid #5978a1;
	background-color: #3f577e;
	font-style: italic;
}
.ybp-faq-wrapper .faqaccordion h3.ui-accordion-header {
	font-family: "Mrs Eaves OT";
	font-size: calc(19px + (30 - 19) * ((100vw - 320px) / (1920 - 320)));
	color: #000;
	cursor: pointer;
	margin: 0;
    padding-left: 30px;
	border-bottom: 1px solid #5978a1;
	text-transform: lowercase;
	padding-top: 10px;
	padding-bottom: 10px;
}
.ybp-faq-wrapper .faqaccordion h3.ui-accordion-header-active {
	background-color: #faf8f6;
	border-bottom: none;
	padding-bottom: 10px;
	padding-top: 10px;
}
.ybp-faq-wrapper .faqaccordion h3.ui-accordion-header:last-of-type{
	border-bottom: none;
}
.ybp-faq-wrapper .faqaccordion .ui-accordion-content {
	padding: 30px;
	border-bottom: 1px solid #5978a1;
}
.ybp-faq-wrapper .faqaccordion .ui-accordion-content:last-child {
	border-bottom: none;
}

/*----------------------------
# Rentals  Css
----------------------------*/
.ybp-controls {
    text-align: center;
	padding-top: 20px;
}
.ybp-controls ul {
	padding-left: 0px;
	list-style: none;
	max-width: 650px;
	margin: 0 auto;
}
.ybp-controls ul li {
	font-family: "Mrs Eaves OT";
	font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding:0 25px;
    color: #000;
    text-transform: lowercase;
	margin-bottom: 10px;
	line-height: 1;
}
.ybp-controls ul li.mixitup-control-active ,
.ybp-controls ul li:hover {
    color: #ddaa2d;
}
.mixitup-control-active[data-filter]:after {
    background: transparent;
}
.ybp-rentals-mixup::after {
	content: "";
	display: ;
	display: block;
	clear: both;
}
.ybp-rentals-mixup {
	padding: 45px 0 105px;
	font-size: 0.1px;
	margin: 0 -15px;
}
.ybp-rentals-mixup .mix {
	float: left;
	width: 33.33%;
	margin-bottom: 30px;
	padding: 0 15px;
}
.ybp-rentals-mixup .mix .ybp-mix-box {
    border-radius: 2px;
    position: relative;
	border: 1px solid #5978a1;
}
.ybp-rentals-mixup .title-holder {
	background-color: #faf8f6;
    padding: 20px 30px;
}
.ybp-rentals-mixup .title-holder h4 {
	font-family: "Mrs Eaves OT";
	font-size: calc(20px + (22 - 20) * ((100vw - 320px) / (1920 - 320)));
	font-weight: 400;
	color: #000;
	text-align: left;
	display: block;
	margin: 0;
	line-height: 1.2;
}
/*body .fancybox-overlay {
	z-index: 999999;
}*/
.image-holder a.fancybox {
    position: relative;
}
.image-holder:hover {
	opacity: 0.5;
}
.image-holder .fa-search-plus {
	font-size: 22px;
	top: 50%;
	left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
	display: none;
}
.image-holder:hover .fa-search-plus {
	display: block;
}
/*----------------------------
# Rentals  Css Target Elements
----------------------------*/
.mix,
.gap {
    display: inline-block;
    vertical-align: top;
}
.mix {
    background: #fff;
    border-radius: 2px;
    margin-bottom: 1rem;
    position: relative;
}
.mix:before {
    content: '';
    display: inline-block;
}

/*----------------------------
# Inner Header Icon Set
----------------------------*/
.header-icon-section {
	text-align: center;
	background-color: #a9bacd;
	height: 84px;
	padding-top: 30px;
	position: relative;
	z-index: 1;
}
.header-icon-section::after {
	content: "";
	border-bottom: 1px solid #627fa7;
	position: absolute;
	bottom: -9px;
	left: 0;
	right: 0;
	z-index: -1;
}
.header-icon {
	display: inline-block;
	vertical-align: top;
	width: 106px;
	height: 106px;
	background-color: #5878a1;
	border-radius: 50%;
	position: relative;
	border: 15px solid #fff;
}
.header-icon::before {
	content: "";
	position: absolute;
	top: -4px;
	left: -4px;
	border: 1px solid #5a78aa;
	width: 84px;
	height: 84px;
	border-radius: 50%;
}
.header-icon img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.ybp-back-to-home {
	background-color: #fff;
	padding: 40px 0;
}
.ourpeople {
	padding-top: 30px;
}

/*----------------------------
# Community Partners  Css
----------------------------*/
.ybp-cp-list .ybp-faq-wrapper {
    float: left;
    width: 48%;
}
.ybp-cp-list .ybp-faq-wrapper:nth-of-type(odd){
	margin-right: 4%;
}
.ybp-vendor-list a {
    display: block;
    padding: 8px 0 8px 30px;
	border-bottom: 1px solid #5a78aa;
}
.ybp-vendor-list a:last-child {
	border-bottom: none;
}
.ybp-vendor-list a h3{
	margin-bottom: 0px;
}
.ybp-vendor-list h3:hover {
	color: #ddaa2d;
}

/*----------------------------
# pinterest Css
----------------------------*/
.ybp-pinterest-boards ul {
    text-align: center;
    padding: 0;
}
.ybp-pinterest-boards ul li {
    display: inline-block;
    padding: 0 2px;
    cursor: pointer;
	font-size: 22px;
}
.ybp-pinterest-boards ul li span:after {
    content: "//";
    left: 0px;
    right: 0;
	margin-left: 6px;
}
.ybp-pinterest-boards ul li:last-child span:after {
    content: none;
}
.ybp-pinterest-boards ul li.current,
.ybp-pinterest-boards ul li:hover {
    color: #ddaa2d;
}
.ybp-pinterest-wrap {
    margin-bottom: 78px;
}
.ybp-pinterest-item {
	float: left;
	width: 33.33%;
	margin-bottom: 5px;
	padding: 0 2px;
}
.ybp-content {
    margin: 20px 0 118px;
}

/*----------------------------
# error 404 Css
----------------------------*/
section.error-404.not-found {
    text-align: center;
}
.error-404 h1.page-title {
    font-size: 52px;
    font-style: italic;
    color: #5878A1;
}
.ybp-navigation {
    padding: 10px 15px;
}